.nav-link {
    color:white;
}

.button {
    color:gold;
    background-color: black;
    border-color: gold;
    margin-top: 5%;
}

.input1 {
    background-color: white;
    margin-top: 2%;
    border-color: black;
}

.box {
    margin-top: 100px;
    border-color: black;
}

.box2 {
    margin-top: 30px;
    border-color: black;
}

.LoginLabel {
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
}

.movietext {
    margin-top: 100px;
    margin-left: 0px;
    font-size: 40px;
    text-align: left;
}